body{
  width: 600px;
}
.nothing {
  font-size: 36px;
}
.thumbnail {
  width: 128px;
  max-height: 72px;
  border-radius: 2px;
}
.link {
  text-decoration: none;
  color: #409EFF
}
.error-message {
    text-align: center;
  }
  
  .table-expand {
    font-size: 0;
  }
  
  .table-expand label {
    width: 90px;
    color: #cbcbcb;
  }
  
  .table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  
  .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }
  
  .button {
    padding: 0;
    float: right;
  }
  
  .image {
    width: 100%;
    display: block;
  }
  
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: '';
  }
  .el-aside {
    text-align: center;
    padding: 20px;
  }
  .plugin-name {
    font-size: 1.4em;
    font-weight: bold;
  }
  .plugin-version {
    margin-left: 12px;
    color: #cbcbcb;
  }
  .description {
    margin-top: 10px;
  }
  .warning {
    margin-top: 30px;
    color: grey;
  }
  .warning span {
    color: red;
    font-size: 1.2em;
  }
  .footer {
    margin-top: 50px;
  }
  
  #pane-settings label {
    width: 130px;
    text-align: right;
  }
  